<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h1>Editing Book</h1>
  <%= render 'layouts/error_messages', model: @book %>
  <%= form_with model:@book, local: true do |f| %>
    <h4>Title</h4>
    <div class="field">
      <%= f.text_field :title, class: "w-100" %>
    </div>
    <h4>Body</h4>
    <div class="field">
      <%= f.text_area :body, class: "w-100" %>
    </div>
    <div class="actions">
    <%= f.submit 'Update Book', class: "btn btn-success" %>
    <div/>
    <%= link_to "Show", book_path(@book.id), method: :get %>
    |
    <%= link_to "Back", books_path %>
  <% end %>
</div>